// KaTeXのCSSは遅延読み込みするのでmain.tsを参照
$code-background-color: var(--markdown-code-background-color);
$table-td-border-color: var(--table-td-border-color);
$table-tr-border-color: var(--table-tr-border-color);
$table-tr-background-color: var(--table-tr-background-color);
$table-tr-background-color2: var(--table-tr-background-color2);

@import '/~/@traptitech/traq-markdown-it/src/css/markdown';

html:not([data-is-dark-theme]) {
  @import '/~/highlight.js/styles/atom-one-light';

  --markdown-code-background-color: #f6f8fa;
  --table-td-border-color: #dfe2e5;
  --table-tr-border-color: #c6cbd1;
  --table-tr-background-color: #fff;
  --table-tr-background-color2: #f6f8fa;
}
html[data-is-dark-theme] {
  @import '/~/highlight.js/styles/atom-one-dark';

  --markdown-code-background-color: #243342;
  --table-td-border-color: #191c1f;
  --table-tr-border-color: #2d3239;
  --table-tr-background-color: #243342;
  --table-tr-background-color2: #1b2631;
}
