.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.2;
  word-wrap: break-word;

  > :first-child {
    margin-top: 0 !important;
  }
  > :last-child {
    margin-bottom: 0 !important;
  }

  a {
    color: #0366d6;
    background-color: initial;
    text-decoration: none;
    &:active,
    &:hover {
      text-decoration: underline;
      outline-width: 0;
    }
    &:not([href]) {
      color: inherit;
      text-decoration: none;
    }
  }

  strong {
    font-weight: bold;
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 12px 0;
    border: 0;
    background-color: #e1e4e8;
    overflow: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 1.25;
  }
  h1, h2 {
    padding-bottom: 0.3em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.875em;
    transform: rotate(0.03deg);
  }
  h6 {
    font-size: 0.85em;
    transform: rotate(0.03deg);
    color: #6a737d;
  }

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  blockquote {
    position: relative;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 0 12px;
    color: #6a737d;
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 0.25em;
      height: 100%;
      background: #dfe2e5;
    }
  }
  > blockquote,
  :not(blockquote) > blockquote {
    $bottom-padding: 4px;
    padding-bottom: $bottom-padding;
    overflow: auto;
    &::before {
      height: calc(100% - #{$bottom-padding});
    }
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  ol, ul {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 8px;
    word-break: break-all;
    ol {
      list-style-type: lower-roman;
    }
    ol, ul {
      margin-top: 0;
      margin-bottom: 0;
      ol {
        list-style-type: lower-alpha;
      }
    }
  }
  li {
    > p {
      margin-top: 8px;
    }
    + li {
      margin-top: 4px;
    }
  }
  > ul,
  > ol,
  :not(li) > ul,
  :not(li) > ol {
    padding-bottom: 4px;
    overflow: auto;
  }

  code, pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 0.85em;
    border-radius: 4px;
  }
  code {
    display: inline-block;
    padding: 2px 6px;
    margin: 2px 0;
  }
  pre {
    position: relative;
    margin-top: 0;
    margin-bottom: 16px;
    overflow-wrap: normal;
    line-height: 1.45;
    cite {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 4px;
      border-bottom-left-radius: 4px;
      background-color: rgba(0, 0, 0, 0.1);
    }
    code {
      display: block;
      padding: 16px;
      margin: 0;
      border: 0;
      font-size: 1em;
      overflow: auto;
      word-break: normal;
      overflow-wrap: normal;
      white-space: pre;
      line-height: inherit;
    }
  }

  table {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 16px;
    padding-bottom: 4px;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 4px 12px;
    border: 1px solid;
  }
  th {
    font-weight: bold;
  }
  tr {
    background-color: #fff;
    border-top: 1px solid;
  }

  img {
    max-width: 100%;
    border-style: none;
    box-sizing: initial;
    background-color: #fff;
  }
}

html:not([data-is-dark-theme]) {
  @import '~highlight.js/styles/atom-one-light';

  .markdown-body {
    pre, code {
      background-color: #f6f8fa;
    }

    table {
      td, th {
        border-color: #dfe2e5;
      }
      tr {
        background-color: #fff;
        border-color: #c6cbd1;
        &:nth-child(2n) {
          background-color: #f6f8fa;
        }
      }
    }
  }
}
html[data-is-dark-theme] {
  @import '~highlight.js/styles/atom-one-dark';

  pre, code {
    background-color: #243342;
  }

  table {
    td, th {
      border-color: #191c1f;
    }
    tr {
      background-color: #243342;
      border-color: #2d3239;
      &:nth-child(2n) {
        background-color: #1b2631;
      }
    }
  }
}

.markdown-body {
  .katex-block {
    overflow: auto;
    margin-bottom: 4px;
  }

  .spoiler {
    color: transparent;
    background-color: black;
    user-select: none;
    cursor: pointer;

    &:not([shown]) {
      * {
        visibility: hidden;
      }
    }

    &[shown] {
      color: inherit;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .message-user-link,
  .message-channel-link,
  .message-group-link {
    cursor: pointer;
    color: #005BAC;
    font-weight: bold;
  }
  .message-user-link-highlight,
  .message-group-link-highlight {
    background-color: #FAFFAD;
  }
}

.markdown-inline-body {
  .spoiler {
    color: transparent;
    background-color: black;
    user-select: none;
    cursor: pointer;

    &:not([shown]) {
      * {
        visibility: hidden;
      }
    }
  }

  .message-emoji {
    &.large, &.ex-large {
      font-size: 24px;
    }
  }
}
