@import './variables';

// rotateはWindowsでフォントにジャギーが目立つののを対処
// https://github.com/traPtitech/traQ_S-UI/issues/311
@mixin size-h1 {
    font-size: 1.5rem;
}
@mixin size-h2 {
    font-size: 1.25rem;
}
@mixin size-h3 {
    font-size: 1.125rem;
}
@mixin size-body1 {
    font-size: 1rem;
}
@mixin size-body2 {
    font-size: 0.875rem;
    transform: rotate(0.03deg);
}
@mixin size-caption {
    font-size: 0.75rem;
    transform: rotate(0.03deg);
}

@mixin background-accent-primary {
    background: $theme-accent-primary;
}
@mixin background-primary {
    background: $theme-background-primary;
}
@mixin background-secondary {
    background: $theme-background-secondary;
}
@mixin background-tertiary {
    background: $theme-background-tertiary;
}

@mixin color-accent-primary {
    color: $theme-accent-primary;
}
@mixin color-ui-primary {
    color: $theme-ui-primary;
}
@mixin color-ui-secondary {
    color: $theme-ui-secondary;
}
@mixin color-ui-tertiary {
    color: $theme-ui-tertiary;
}
@mixin color-text-primary {
    color: $theme-text-primary;
}

@mixin color-common-text-white-primary {
    color: $common-text-white-primary;
}
@mixin color-common-text-white-secondary {
    color: $common-text-white-secondary;
}
@mixin color-common-text-black {
    color: $common-text-black;
}
@mixin background-common-overlay {
    background: $common-background-overlay;
}
@mixin background-common-black {
    background: $common-background-black;
}
@mixin drop-shadow-default {
    filter: $common-drop-shadow-default;
}
