@use 'variables';
@forward 'variables';

@mixin size-h1 {
  font-size: 1.5rem;
}
@mixin size-h2 {
  font-size: 1.25rem;
}
@mixin size-h3 {
  font-size: 1.125rem;
}
@mixin size-body1 {
  font-size: 1rem;
}
@mixin size-body2 {
  font-size: 0.875rem;
}
@mixin size-caption {
  font-size: 0.75rem;
}

@mixin background-accent-primary {
  background: variables.$theme-accent-primary-background;
}

@mixin color-accent-primary {
  color: variables.$theme-accent-primary-default;
}
@mixin color-accent-primary-inactive {
  color: variables.$theme-accent-primary-inactive;
}

@mixin background-accent-error {
  background: variables.$theme-accent-error-default;
}

@mixin background-primary {
  background: variables.$theme-background-primary-default;
}
@mixin background-secondary {
  background: variables.$theme-background-secondary-default;
}
@mixin background-tertiary {
  background: variables.$theme-background-tertiary-default;
}

@mixin color-ui-primary {
  color: variables.$theme-ui-primary-default;
}
@mixin color-ui-primary-inactive {
  color: variables.$theme-ui-primary-inactive;
}
@mixin color-ui-secondary {
  color: variables.$theme-ui-secondary-default;
}
@mixin color-ui-secondary-inactive {
  color: variables.$theme-ui-secondary-inactive;
}
@mixin color-ui-tertiary {
  color: variables.$theme-ui-tertiary-default;
}

@mixin color-text-primary {
  color: variables.$theme-text-primary-default;
}
@mixin color-text-secondary {
  color: variables.$theme-text-secondary-default;
}

// -----

@mixin color-common-text-white-primary {
  color: variables.$common-text-white-primary;
}
@mixin color-common-text-white-secondary {
  color: variables.$common-text-white-secondary;
}
@mixin color-common-text-black {
  color: variables.$common-text-black;
}
@mixin background-common-overlay {
  background: variables.$common-background-overlay;
}
@mixin background-common-black {
  background: variables.$common-background-black;
}
@mixin drop-shadow-default {
  filter: variables.$common-drop-shadow-default;
}
