@import './variables';

@mixin size-h1 {
    font-size: 1.5rem;
}
@mixin size-h2 {
    font-size: 1.25rem;
}
@mixin size-h3 {
    font-size: 1.125rem;
}
@mixin size-body1 {
    font-size: 1rem;
}
@mixin size-body2 {
    font-size: 0.875rem;
}
@mixin size-caption {
    font-size: 0.75rem;
}

@mixin background-accent-primary {
    background-color: $theme-accent-primary-background;
}

@mixin color-accent-primary {
    color: $theme-accent-primary-default;
}

@mixin background-accent-error {
    background: $theme-accent-error-default;
}

@mixin background-primary {
    background: $theme-background-primary-default;
}
@mixin background-secondary {
    background: $theme-background-secondary-default;
}
@mixin background-tertiary {
    background: $theme-background-tertiary-default;
}

@mixin color-ui-primary {
    color: $theme-ui-primary-default;
}
@mixin color-ui-secondary {
    color: $theme-ui-secondary-default;
}
@mixin color-ui-tertiary {
    color: $theme-ui-tertiary-default;
}

@mixin color-text-primary {
    color: $theme-text-primary-default;
}

// -----

@mixin color-text-secondary {
    color: $theme-text-secondary;
}

@mixin color-common-text-white-primary {
    color: $common-text-white-primary;
}
@mixin color-common-text-white-secondary {
    color: $common-text-white-secondary;
}
@mixin color-common-text-black {
    color: $common-text-black;
}
@mixin background-common-overlay {
    background: $common-background-overlay;
}
@mixin background-common-black {
    background: $common-background-black;
}
@mixin drop-shadow-default {
    filter: $common-drop-shadow-default;
}
