$scrollbar-width: 6px;

* {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
  transition: scrollbar-color 0.3s;
  &:hover,
  &:active {
    scrollbar-color: var(--scrollbar-hover-color) var(--scrollbar-track-color);
  }

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    &:hover {
      background: var(--scrollbar-track-color);
    }
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    transition: background 0.3s;
    border-radius: $scrollbar-width;
    &:hover {
      background: var(--scrollbar-hover-color);
    }
  }
  &::-webkit-scrollbar-corner {
    visibility: hidden;
    display: none;
  }
}
