@import './easing';

$vs: 'vertical-swap';
$vs-reverse: 'vertical-swap-reverse';
.#{$vs}-enter-active,
.#{$vs}-leave-active,
.#{$vs-reverse}-enter-active,
.#{$vs-reverse}-leave-active {
  transition: transform 0.3s $easeOutBack;
}
.#{$vs-reverse}-leave-to,
.#{$vs}-enter {
  transform: translateY(100%);
}
.#{$vs-reverse}-enter,
.#{$vs}-leave-to {
  transform: translateY(-100%);
}

$ts: 'toast-slide';
.#{$ts}-enter-active {
  transition: all 0.3s $easeOutCirc;
}
.#{$ts}-leave-active {
  transition: all 0.8s $easeInExpo;
}
.#{$ts}-enter {
  transform: translateX(-20px);
  opacity: 0;
}
.#{$ts}-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
.#{$ts}-move {
  transition: transform 3s;
}

$sv: 'slide-vertical';
.#{$sv}-enter-active,
.#{$sv}-leave-active {
  transition: all 0.15s $easeOutQuad;
  height: 0;
}

$tl: 'timeline';
.#{$tl}-enter-active {
  transition: all 0.5s;
}
.#{$tl}-leave-active {
  display: none;
}
.#{$tl}-enter,
.#{$tl}-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.#{$tl}-move {
  transition: transform 0.5s;
}

$bk: 'background-shadow';
.#{$bk}-enter,
.#{$bk}-leave-to {
  background-color: rgba(0, 0, 0, 0);
}

$tu: 'typing-users';
.#{$tu}-enter-active,
.#{$tu}-leave-active {
  transition: all 0.5s $easeOutCubic;
}
.#{$tu}-enter,
.#{$tu}-leave-to {
  transform: translateY(0%) !important;
  opacity: 0;
}

$fl: 'fade-left';
$fr: 'fade-right';
$fb: 'fade-bottom';
.#{$fl}-enter-active,
.#{$fr}-enter-active,
.#{$fb}-enter-active {
  transition: all 0.3s $easeOutCirc;
}
.#{$fl}-leave-active,
.#{$fr}-leave-active,
.#{$fb}-leave-active {
  transition: all 0.3s $easeInCirc;
}
.#{$fl}-move,
.#{$fr}-move,
.#{$fb}-move {
  transition: transform 0.3s;
}
.#{$fl}-enter,
.#{$fl}-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}
.#{$fr}-enter,
.#{$fr}-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.#{$fb}-enter,
.#{$fb}-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

$s: 'stamp';
.#{$s}-enter-active,
.#{$s}-leave-active {
  transition: all 0.3s $easeOutCirc;
}
.#{$s}-enter,
.#{$s}-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
