@use 'easing';
@forward 'easing';

$vs: 'vertical-swap';
$vs-reverse: 'vertical-swap-reverse';
.#{$vs}-enter-active,
.#{$vs}-leave-active,
.#{$vs-reverse}-enter-active,
.#{$vs-reverse}-leave-active {
  transition: transform 0.3s easing.$easeOutBack;
}
.#{$vs-reverse}-leave-to,
.#{$vs}-enter-from {
  transform: translateY(100%);
}
.#{$vs-reverse}-enter-from,
.#{$vs}-leave-to {
  transform: translateY(-100%);
}

$ts: 'toast-slide';
.#{$ts}-enter-active {
  transition: all 0.3s easing.$easeOutCirc;
}
.#{$ts}-leave-active {
  transition: all 0.8s easing.$easeInExpo;
}
.#{$ts}-enter-from {
  transform: translateX(-20px);
  opacity: 0;
}
.#{$ts}-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
.#{$ts}-move {
  transition: transform 3s;
}

$sv: 'slide-vertical';
.#{$sv}-enter-active,
.#{$sv}-leave-active {
  transition: all 0.15s easing.$easeOutQuad;
  height: 0;
}

$tl: 'timeline';
.#{$tl}-enter-active {
  transition: all 0.5s;
}
.#{$tl}-leave-active {
  display: none;
}
.#{$tl}-enter-from,
.#{$tl}-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.#{$tl}-move {
  transition: transform 0.5s;
}

$bk: 'background-shadow';
.#{$bk}-enter-from,
.#{$bk}-leave-to {
  background-color: rgba(0, 0, 0, 0);
}

$tu: 'typing-users';
.#{$tu}-enter-active,
.#{$tu}-leave-active {
  transition: all 0.5s easing.$easeOutCubic;
}
.#{$tu}-enter-from,
.#{$tu}-leave-to {
  transform: translateY(0%) !important;
  opacity: 0;
}

$fl: 'fade-left';
$fr: 'fade-right';
$ft: 'fade-top';
$fb: 'fade-bottom';
@each $c in $fl, $fr, $ft, $fb {
  .#{$c}-enter-active {
    transition: all 0.3s easing.$easeOutCirc;
  }
  .#{$c}-leave-active {
    transition: all 0.3s easing.$easeInCirc;
  }
  .#{$c}-move {
    transition: transform 0.3s;
  }
  .#{$c}-enter-from,
  .#{$c}-leave-to {
    opacity: 0;
  }
}
.#{$fl}-enter-from,
.#{$fl}-leave-to {
  transform: translateX(-20px);
}
.#{$fr}-enter-from,
.#{$fr}-leave-to {
  transform: translateX(20px);
}
.#{$ft}-enter-from,
.#{$ft}-leave-to {
  transform: translateY(-20px);
}
.#{$fb}-enter-from,
.#{$fb}-leave-to {
  transform: translateY(20px);
}

$s: 'stamp';
.#{$s}-enter-active,
.#{$s}-leave-active {
  transition: all 0.3s easing.$easeOutCirc;
}
.#{$s}-enter-from,
.#{$s}-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

$p: 'post';
.#{$p}-enter-active {
  transition: all 0.3s easing.$easeOutCirc;
}
.#{$p}-leave-active {
  transition: all 0.3s easing.$easeInCirc;
}
.#{$p}-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.#{$p}-enter-from {
  transform: translateX(-20px);
  opacity: 0;
}

$qr: 'quick-reaction';
.#{$qr}-enter-active,
.#{$qr}-leave-active {
  transition: all 0.3s easing.$easeOutCirc;
}
.#{$qr}-enter-from,
.#{$qr}-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

$z: 'zoom';
.#{$z}-enter-active,
.#{$z}-leave-active {
  transition: all 0.15s easing.$easeOutCirc;
}
.#{$z}-enter-from,
.#{$z}-leave-to {
  transform: scale(0);
}
.#{$z}-enter-to,
.#{$z}-leave-from {
  transform: scale(1);
}

$sp: 'stamp-pressed';
.#{$sp}-enter-active {
  animation: stamp-pressed 0.5s ease;
}
.#{$sp}-leave-active {
  transition: all 0s; // leaveを即時に終わらせるため
}
@keyframes stamp-pressed {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
