@import './easing';

$vs: 'vertical-swap';
$vs-reverse: 'vertical-swap-reverse';
.#{$vs}-enter-active,
.#{$vs}-leave-active,
.#{$vs-reverse}-enter-active,
.#{$vs-reverse}-leave-active {
  transition: transform 0.3s $easeOutBack;
}
.#{$vs-reverse}-leave-to,
.#{$vs}-enter {
  transform: translateY(100%);
}
.#{$vs-reverse}-enter,
.#{$vs}-leave-to {
  transform: translateY(-100%);
}

$sf: 'slide-fade';
.#{$sf}-enter-active {
  transition: all 0.3s $easeOutCirc;
}
.#{$sf}-leave-active {
  transition: all 0.8s $easeInExpo;
}
.#{$sf}-enter {
  transform: translateX(-20px);
  opacity: 0;
}
.#{$sf}-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
.#{$sf}-move {
  transition: transform 3s;
}

$sv: 'slide-vertical';
.#{$sv}-enter-active,
.#{$sv}-leave-active {
  transition: all 0.3s linear;
  height: 0;
}

$tl: 'timeline';
.#{$tl}-enter-active,
.#{$tl}-leave-active {
  transition: all 0.5s;
}
.#{$tl}-enter,
.#{$tl}-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.#{$tl}-move {
  transition: transform 0.5s;
}
