$theme-accent-primary-default: var(--theme-accent-primary-default);
$theme-accent-primary-background: var(--theme-accent-primary-background);
$theme-accent-notification-default: var(--theme-accent-notification-default);
$theme-accent-notification-background: var(--theme-accent-notification-background);
$theme-accent-online-default: var(--theme-accent-online-default);
$theme-accent-error-default: var(--theme-accent-error-default);
$theme-accent-focus-default: var(--theme-accent-focus-default);
$theme-background-primary-default: var(--theme-background-primary-default);
$theme-background-primary-border: var(--theme-background-primary-border);
$theme-background-secondary-default: var(--theme-background-secondary-default);
$theme-background-secondary-border: var(--theme-background-secondary-border);
$theme-background-secondary-transparent5: var(--theme-background-secondary-transparent5);
$theme-background-tertiary-default: var(--theme-background-tertiary-default);
$theme-background-tertiary-border: var(--theme-background-tertiary-border);

// -----

$theme-ui-primary: var(--theme-ui-primary);
$theme-ui-secondary: var(--theme-ui-secondary);
$theme-ui-tertiary: var(--theme-ui-tertiary);
$theme-text-primary: var(--theme-text-primary);
$theme-text-secondary: var(--theme-text-secondary);

$theme-accent-primary--03: var(--theme-accent-primary--03);
$theme-ui-primary--06: var(--theme-ui-primary--06);
$theme-ui-secondary--05: var(--theme-ui-secondary--05);

$common-text-white-primary: var(--common-text-white-primary);
$common-text-white-secondary: var(--common-text-white-secondary);
$common-text-black: var(--common-text-black);
$common-ui-qall: var(--common-ui-qall);
$common-ui-muted: var(--common-ui-muted);
$common-ui-pin: var(--common-ui-pin);
$common-background-overlay: var(--common-background-overlay);
$common-background-black: var(--common-background-black);
$common-background-pin: var(--common-background-pin);
$common-drop-shadow-default: var(--common-drop-shadow-default);
