$theme-accent-primary: var(--theme-accent-primary);
$theme-accent-notification: var(--theme-accent-notification);
$theme-accent-online: var(--theme-accent-online);
$theme-accent-error: var(--theme-accent-error);
$theme-background-primary: var(--theme-background-primary);
$theme-background-secondary: var(--theme-background-secondary);
$theme-background-tertiary: var(--theme-background-tertiary);
$theme-background-secondarySub: var(--theme-background-secondarySub);
$theme-ui-primary: var(--theme-ui-primary);
$theme-ui-secondary: var(--theme-ui-secondary);
$theme-ui-tertiary: var(--theme-ui-tertiary);
$theme-text-primary: var(--theme-text-primary);
$theme-text-secondary: var(--theme-text-secondary);

$common-text-white-primary: var(--common-text-white-primary);
$common-text-white-secondary: var(--common-text-white-secondary);
$common-text-black: var(--common-text-black);
$common-ui-qall: var(--common-ui-qall);
$common-ui-muted: var(--common-ui-muted);
$common-ui-pin: var(--common-ui-pin);
$common-background-overlay: var(--common-background-overlay);
$common-background-black: var(--common-background-black);
$common-drop-shadow-default: var(--common-drop-shadow-default);
