$theme-accent-primary-default: var(--theme-accent-primary-default);
$theme-accent-primary-background: var(--theme-accent-primary-background);
$theme-accent-notification-default: var(--theme-accent-notification-default);
$theme-accent-notification-background: var(--theme-accent-notification-background);
$theme-accent-online-default: var(--theme-accent-online-default);
$theme-accent-error-default: var(--theme-accent-error-default);
$theme-accent-focus-default: var(--theme-accent-focus-default);
$theme-background-primary-default: var(--theme-background-primary-default);
$theme-background-primary-border: var(--theme-background-primary-border);
$theme-background-secondary-default: var(--theme-background-secondary-default);
$theme-background-secondary-border: var(--theme-background-secondary-border);
$theme-background-tertiary-default: var(--theme-background-tertiary-default);
$theme-background-tertiary-border: var(--theme-background-tertiary-border);
$theme-ui-primary-default: var(--theme-ui-primary-default);
$theme-ui-primary-background: var(--theme-ui-primary-background);
$theme-ui-secondary-default: var(--theme-ui-secondary-default);
$theme-ui-secondary-background: var(--theme-ui-secondary-background);
$theme-ui-tertiary-default: var(--theme-ui-tertiary-default);
$theme-text-primary-default: var(--theme-text-primary-default);
$theme-text-secondary-default: var(--theme-text-secondary-default);

// -----

$theme-ui-secondary--05: var(--theme-ui-secondary--05);

$common-text-white-primary: var(--common-text-white-primary);
$common-text-white-secondary: var(--common-text-white-secondary);
$common-text-black: var(--common-text-black);
$common-ui-qall: var(--common-ui-qall);
$common-ui-muted: var(--common-ui-muted);
$common-ui-pin: var(--common-ui-pin);
$common-background-overlay: var(--common-background-overlay);
$common-background-black: var(--common-background-black);
$common-background-pin: var(--common-background-pin);
$common-drop-shadow-default: var(--common-drop-shadow-default);
