$z-index-hidden: -10000;

$z-index-vue-slider-process: 1; // 参考
$z-index-vue-slider-dot: 5; // 参考

$z-index-message-attachment-video-overlay: 1;
$z-index-message-input-file-close-button: 1;

$z-index-message-loading: 2;
$z-index-shown-message-date: 2;

$z-index-message-element-tools: 3;
$z-index-message-element-tools-menu: 5;

$z-index-main-view-wrapper: 10;
$z-index-sidebar-wrapper: 11;

$z-index-message-input: 15;

$z-index-to-new-message-button: 17;
// PC画面での小さい幅でサイドバーが入力欄より上に来る
// さらにヘッダーの「…」のポップアップよりは下に来るように
$z-index-sidebar: 20;
$z-index-header: 30;

$z-index-word-suggester: 80;

$z-index-stamp-picker: 100;
$z-index-header-tools: 100;
$z-index-header-popup-navigator: 100;
$z-index-shown-message-date-menu: 100;

$z-index-file-upload-overlay: 500;
$z-index-services: 600;

$z-index-sidebar-overlay: 800;

$z-index-command-palette: 900;

$z-index-modal-container: 1000;
$z-index-file-modal-header: 1001;
$z-index-file-modal-footer: 1001;
$z-index-user-modal-header: 1001;

$z-index-toast-container: 10000;
