.emoji {
  display: inline-block;
  vertical-align: middle;
  text-indent: 999%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 1em;
  height: 1em;
  &.s24 {
    font-size: 24px;
  }
  &.s32 {
    font-size: 32px;
  }
  &.ex-large {
    font-size: 48px;
  }
  &.large {
    font-size: 32px;
  }
  &.small {
    font-size: 16px;
  }
}

.emoji-effect {
  display: inline-block;
  vertical-align: middle;
}

// TODO: eco-mode
.emoji-effect {
  line-height: 0;

  font-size: 24px;
  &.ex-large {
    font-size: 48px;
  }
  &.large {
    font-size: 32px;
  }
  &.small {
    font-size: 16px;
  }

  &.rotate {
    animation: rotate linear 1s infinite;
  }
  &.rotate-inv {
    animation: rotate-inv linear 1s infinite;
  }
  &.wiggle {
    animation: wiggle linear 0.3s infinite;
  }
  &.parrot {
    animation: parrot linear 0.5s infinite;
  }
  &.zoom {
    animation: zoom linear 1s infinite;
  }
  &.inversion {
    animation: invert linear 1.5s infinite;
  }
  &.turn {
    animation: turn linear 1.5s infinite;
  }
  &.turn-v {
    animation: turn-v linear 1.5s infinite;
  }
  &.happa {
    animation: happa linear 1.5s infinite;
  }
  &.pyon {
    animation: pyon linear 0.75s infinite;
    transform-origin: bottom center;
  }
  &.flashy {
    animation: flashy linear 1s infinite;
  }
  &.pull {
    animation: pull linear 0.5s infinite;
  }
  &.atsumori {
    animation: atsumori linear 2s infinite;
  }
  &.stretch {
    animation: stretch linear 1s infinite;
  }
  &.stretch-v {
    animation: stretch-v linear 1s infinite;
  }
  &.rainbow {
    animation: rainbow linear 3s infinite;
  }

  $s: '.conga';
  @for $i from 1 through 5 {
    &#{$s} .emoji {
      background-repeat: repeat-x;
      animation: conga linear #{1 / $i}s infinite;
    }
    $s: #{$s '.conga'};
  }

  $s: '.conga-inv';
  @for $i from 1 through 5 {
    &#{$s} .emoji {
      background-repeat: repeat-x;
      animation: conga-inv linear #{1 / $i}s infinite;
    }
    $s: #{$s '.conga-inv'};
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate-inv {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes parrot {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(1turn);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.5);
  }
}
@keyframes invert {
  0% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
}
@keyframes turn {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(1turn);
  }
}
@keyframes turn-v {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1turn);
  }
}
@keyframes happa {
  0% {
    transform: translateY(0) rotateY(0);
  }
  12.5% {
    transform: translateY(-0.2em) rotateY(0);
  }
  25% {
    transform: translateY(0) rotateY(0);
  }
  37.5% {
    transform: translateY(-0.2em) rotateY(0);
  }
  50% {
    transform: translateY(0) rotateY(0.5turn);
  }
  62.5% {
    transform: translateY(-0.2em) rotateY(0.5turn);
  }
  75% {
    transform: translateY(0) rotateY(0.5turn);
  }
  87.5% {
    transform: translateY(-0.2em) rotateY(0.5turn);
  }
}
@keyframes pyon {
  0% {
    transform: translateY(0) scale(1, 1);
  }
  30% {
    transform: translateY(-0.2em) scale(1, 1);
  }
  60% {
    transform: translateY(0) scale(1, 1);
  }
  80% {
    transform: translateY(0) scale(1.1, 0.9);
  }
}
@keyframes flashy {
  0% {
    filter: drop-shadow(0 0 0.2em #bf4040);
  }
  10% {
    filter: drop-shadow(0 0 0.2em #bf8c40);
  }
  20% {
    filter: drop-shadow(0 0 0.2em #a6bf40);
  }
  30% {
    filter: drop-shadow(0 0 0.2em #59bf40);
  }
  40% {
    filter: drop-shadow(0 0 0.2em #40bf73);
  }
  50% {
    filter: drop-shadow(0 0 0.2em #40bfbf);
  }
  60% {
    filter: drop-shadow(0 0 0.2em #4073bf);
  }
  70% {
    filter: drop-shadow(0 0 0.2em #5940bf);
  }
  80% {
    filter: drop-shadow(0 0 0.2em #a640bf);
  }
  90% {
    filter: drop-shadow(0 0 0.2em #bf408c);
  }
}
@keyframes pull {
  0% {
    transform: skew(0, 0);
  }
  25% {
    transform: skew(15deg, 15deg);
  }
  50% {
    transform: skew(0, 0);
  }
  75% {
    transform: skew(-15deg, -15deg);
  }
}
@keyframes atsumori {
  0% {
    transform: scale(2);
    filter: blur(0.3em) opacity(0) saturate(0.4)
      drop-shadow(0 0 0 rgba(136, 136, 136, 0));
  }
  15% {
    transform: scale(1);
    filter: blur(0) opacity(1) saturate(0.4)
      drop-shadow(0 0 0 rgba(136, 136, 136, 0));
  }
  20% {
    transform: scale(1.3);
    filter: blur(0) opacity(1) saturate(1)
      drop-shadow(0 0 0 rgba(136, 136, 136, 0));
  }
  25% {
    transform: scale(1);
    filter: blur(0) opacity(1) saturate(1.5)
      drop-shadow(-0.1em -0.1em 0.3em rgba(136, 136, 136, 0.5));
  }
  35% {
    transform: scale(1);
    filter: blur(0) opacity(1) saturate(1.5)
      drop-shadow(-0.5em -0.5em 0 rgba(136, 136, 136, 0));
  }
  100% {
    transform: scale(1);
    filter: blur(0) opacity(1) saturate(1.5)
      drop-shadow(0 0 0 rgba(136, 136, 136, 0));
  }
}
@keyframes stretch {
  0% {
    transform: scaleX(1);
  }
  20% {
    transform: scaleX(1.75);
  }
  22% {
    transform: scaleX(1.65);
  }
  24% {
    transform: scaleX(1.85);
  }
  26% {
    transform: scaleX(1.65);
  }
  28% {
    transform: scaleX(1.85);
  }
  30% {
    transform: scaleX(1.65);
  }
  32% {
    transform: scaleX(1.85);
  }
  34% {
    transform: scaleX(1.65);
  }
  36% {
    transform: scaleX(1.85);
  }
  38% {
    transform: scaleX(1.65);
  }
  40% {
    transform: scaleX(1.85);
  }
  42% {
    transform: scaleX(1.65);
  }
  44% {
    transform: scaleX(1.85);
  }
  46% {
    transform: scaleX(1.65);
  }
  48% {
    transform: scaleX(1.85);
  }
  50% {
    transform: scaleX(1.65);
  }
  52% {
    transform: scaleX(1.75);
  }
  62% {
    transform: scaleX(0.8);
  }
  68% {
    transform: scaleX(1);
  }
}
@keyframes stretch-v {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.75);
  }
  22% {
    transform: scaleY(1.65);
  }
  24% {
    transform: scaleY(1.85);
  }
  26% {
    transform: scaleY(1.65);
  }
  28% {
    transform: scaleY(1.85);
  }
  30% {
    transform: scaleY(1.65);
  }
  32% {
    transform: scaleY(1.85);
  }
  34% {
    transform: scaleY(1.65);
  }
  36% {
    transform: scaleY(1.85);
  }
  38% {
    transform: scaleY(1.65);
  }
  40% {
    transform: scaleY(1.85);
  }
  42% {
    transform: scaleY(1.65);
  }
  44% {
    transform: scaleY(1.85);
  }
  46% {
    transform: scaleY(1.65);
  }
  48% {
    transform: scaleY(1.85);
  }
  50% {
    transform: scaleY(1.65);
  }
  52% {
    transform: scaleY(1.75);
  }
  62% {
    transform: scaleY(0.8);
  }
  68% {
    transform: scaleY(1);
  }
}
@keyframes conga {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1em;
  }
}
@keyframes conga-inv {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1em;
  }
}
@keyframes rainbow {
  0% {
    filter: invert(0) grayscale(1) brightness(0.4) sepia(1) hue-rotate(310deg)
      saturate(6) contrast(0.8);
  }
  3.056% {
    filter: invert(0.12224) grayscale(1) brightness(0.7) sepia(1)
      hue-rotate(5deg) saturate(5) contrast(0.7);
  }
  5.556% {
    filter: invert(0.22224) grayscale(1) brightness(0.4) sepia(1)
      hue-rotate(50deg) saturate(10) contrast(0.8);
  }
  12.778% {
    filter: invert(0.51112) grayscale(1) brightness(0.3) sepia(1)
      hue-rotate(180deg) saturate(7) contrast(0.8);
  }
  20% {
    filter: invert(0.4) grayscale(1) brightness(0.4) sepia(1) hue-rotate(310deg)
      saturate(6) contrast(0.8);
  }
  23.056% {
    filter: invert(0.52224) grayscale(1) brightness(0.7) sepia(1)
      hue-rotate(5deg) saturate(5) contrast(0.7);
  }
  25.556% {
    filter: invert(0.62224) grayscale(1) brightness(0.4) sepia(1)
      hue-rotate(50deg) saturate(10) contrast(0.8);
  }
  32.778% {
    filter: invert(0.91112) grayscale(1) brightness(0.3) sepia(1)
      hue-rotate(180deg) saturate(7) contrast(0.8);
  }
  40% {
    filter: invert(0.8) grayscale(1) brightness(0.4) sepia(1) hue-rotate(310deg)
      saturate(6) contrast(0.8);
  }
  43.056% {
    filter: invert(0.92224) grayscale(1) brightness(0.7) sepia(1)
      hue-rotate(5deg) saturate(5) contrast(0.7);
  }
  45.556% {
    filter: invert(0.97776) grayscale(1) brightness(0.4) sepia(1)
      hue-rotate(50deg) saturate(10) contrast(0.8);
  }
  52.778% {
    filter: invert(0.68888) grayscale(1) brightness(0.3) sepia(1)
      hue-rotate(180deg) saturate(7) contrast(0.8);
  }
  60% {
    filter: invert(0.8) grayscale(1) brightness(0.4) sepia(1) hue-rotate(310deg)
      saturate(6) contrast(0.8);
  }
  63.056% {
    filter: invert(0.67776) grayscale(1) brightness(0.7) sepia(1)
      hue-rotate(5deg) saturate(5) contrast(0.7);
  }
  65.556% {
    filter: invert(0.57776) grayscale(1) brightness(0.4) sepia(1)
      hue-rotate(50deg) saturate(10) contrast(0.8);
  }
  72.778% {
    filter: invert(0.28888) grayscale(1) brightness(0.3) sepia(1)
      hue-rotate(180deg) saturate(7) contrast(0.8);
  }
  80% {
    filter: invert(0.4) grayscale(1) brightness(0.4) sepia(1) hue-rotate(310deg)
      saturate(6) contrast(0.8);
  }
  83.056% {
    filter: invert(0.27776) grayscale(1) brightness(0.7) sepia(1)
      hue-rotate(5deg) saturate(5) contrast(0.7);
  }
  85.556% {
    filter: invert(0.17776) grayscale(1) brightness(0.4) sepia(1)
      hue-rotate(50deg) saturate(10) contrast(0.8);
  }
  92.778% {
    filter: invert(-0.11112) grayscale(1) brightness(0.3) sepia(1)
      hue-rotate(180deg) saturate(7) contrast(0.8);
  }
  100% {
    filter: invert(0) grayscale(1) brightness(0.4) sepia(1) hue-rotate(310deg)
      saturate(6) contrast(0.8);
  }
}
