// @use 'reset';
// @use 'emoji';
// @use 'markdown';
// @use 'transition';
// @use 'scrollbar';

@forward 'reset';
@forward 'emoji';
@forward 'markdown';
@forward 'transition';
@forward 'scrollbar';

:root {
  color-scheme: var(--color-scheme);
  caret-color: var(--caret);
}

body {
  font-family: 'Inter', 'M PLUS 1p', 'Avenir', 'Helvetica Neue', 'Helvetica',
    'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic',
    'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  overscroll-behavior-y: contain;
}

img {
  image-orientation: from-image;
}

::selection {
  color: var(--selection-text);
  background-color: var(--selection-background);
}
