@import './reset';
@import './emoji';
@import './markdown';
@import './transition';
@import './scrollbar';
@import '~katex/dist/katex.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=M+PLUS+1p:wght@400;700&display=swap');

body {
  font-family: 'Inter', 'M PLUS 1p', 'Avenir', 'Helvetica Neue', 'Helvetica',
    'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic',
    'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}
